.App {
  text-align: center;
  color: white;
  font-family: "Roboto Flex","sans-serif";
  background-color: #0a0909;
  padding: 5;
  margin: auto;
}

.h1{
  color:#D1A55C;
  font-family: "Roboto Flex","sans-serif";
}
.h2{
  color:#D1A55C;
  font-family: "Roboto Flex","sans-serif";
}
.CardText{
  text-align: center;
  
  color: #ffffff;
  font-family: "Roboto Flex","sans-serif";
  font-size: x-large;
  margin:10px;
  font-weight: 500;
  
}
.CardTitle{
  text-align: center;
  color:#D1A55C;
  font-family: "Roboto Flex","sans-serif";
  font-size: x-large;
  margin: 10px;
}

.CustomCard {
  
  
  width: 24rem;
  background-color: #2e2929;
  margin-top: 1cm;
  margin-right: 1cm;
  margin-left: 1cm;
  margin-bottom: 1cm;

}
.Footer{  
  text-align: left;
  background-color: #2e2929;
  color: #ffffff;
  font-family: "Roboto Flex","sans-serif";
  
  padding: 0.5cm;
  border: #ffffff;


}
.CardButton{
  margin-bottom: auto;
  background-color: #D1A55C;
  font-family: "Roboto Flex","sans-serif";
  color: #ffffff;
  padding-top: auto;
  margin-top: 5px;
}

.parent {
  display: flex;
  
}
.font-link{
  font-family: 'Roboto Flex', sans-serif;
}





