.App {
  text-align: center;
  color: white;
  font-family: "Roboto Flex","sans-serif";
  
}
.h1{
  color:"#D1A55C";
  font-family: "Roboto Flex","sans-serif";
}
.CustomCard {
  text-align: center;
  color: #ffffff;
  font-family: "Roboto Flex","sans-serif";
  font-size: x-large;
  font-weight: 500;
  width: 24rem;
  background-color: #2e2929;
  margin-top: 2cm;
  margin-right: 2cm;
  margin-left: 2cm;
  margin-bottom: 5cm;


  
}
.CardButton{
  margin-bottom: auto;
  background-color: #D1A55C;
  font-family: "Roboto Flex","sans-serif";
  color: #ffffff;
  padding-top: auto;
  margin-top: 5px;
}

.parent {
  display: flex;
  
}
.font-link{
  font-family: 'Roboto Flex', sans-serif;
}




